
<%- include("partials/header"); -%>
    <h1>Home</h1>
    <p> <%= startingContent %> </p>


  <%  posts.forEach(function(post){ %>

    <h1><%=post.title%></h1>

    <% if (typeof post.content == 'undefined' ) { %>
    <p> no content</p>
    <% } else { %>
      <p>
      <%=post.content.substring(0, 100) + " ..."%>
      <a href="/posts/<%=post._id%>">Read More</a>
      </p>
    <% } %>

    <% }) %>

<a class="btn btn-primary" href="https://ancient-sea-03074.herokuapp.com/compose" role="button">Add Blogs!</a>
<%- include("partials/footer"); -%>
